@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.MarketContainer {
  height: 100vh;

  display: grid;
  grid-template-columns: 0.3fr 5fr 1.5fr;
  grid-template-rows: 0.5fr 4fr;
  gap: 0px;
  grid-template-areas:
    'navbar navbar navbar'
    'left chart right';
}

.ChartZone {
  grid-area: chart;

  max-height: 500px;
}

.ChartZone h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;

  margin-left: 2.5em;
}

.ChartZone h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;

  margin-left: 3.2em;
}

.LeftContainer {
  grid-area: 1 / 1 / 3 / 2;
}

.InfoContainer {
  grid-area: 1 / 3 / 3 / 4;

  background-color: #dcdcc6;
}

.InfoZone {
  grid-area: 2 / 3 / 3 / 4;
}

.HttpError {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

@media (max-width: 1100px) {
  .MarketContainer {
    grid-template-columns: 5fr 1.5fr;
    grid-template-rows: 1.3fr 5fr;
  }

  .LeftContainer {
    opacity: 0;
  }

  .ChartZone {
    grid-area: 2 / 1 / 3 / 2;

    max-height: 450px;
  }

  .InfoContainer {
    grid-area: 1 / 2 / 4 / 3;
  }

  .InfoZone {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media (max-width: 700px) {
  .MarketContainer {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 7fr;
  }

  .ChartZone {
    grid-area: 3 / 1 / 4 / 2;

    max-height: 300px;
  }

  .ChartZone h1 {
    font-size: 1.8em;
    margin-top: 1.5em;
  }

  .ChartZone h2 {
    font-size: 1.4em;
  }

  .InfoContainer {
    grid-area: 2 / 1 / 3 / 2;
  }

  .InfoZone {
    grid-area: 2 / 1 / 3 / 2;

    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .MarketContainer {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 5fr 0.5fr;
    gap: 0;
  }

  .ChartZone {
    grid-area: 3 / 1 / 4 / 2;

    background-color: white;

    max-height: 300px;
  }

  .ChartZone h1 {
    font-size: 1.7em;
  }

  .ChartZone h2 {
    font-size: 1.3em;
  }

  .InfoContainer {
    grid-area: 2 / 1 / 3 / 2;
  }

  .InfoZone {
    grid-area: 2 / 1 / 3 / 2;
  }

  .Footer {
    grid-area: 4 / 1 / 5 / 2;
    background-color: black;
  }
}
