@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.MarketContainer {
  height: 100vh;

  display: grid;
  grid-template-columns: 0.3fr 5fr 1.5fr;
  grid-template-rows: 0.5fr 4fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar navbar navbar'
    'left chart right';
}

.ChartZone {
  grid-area: 2 / 2 / 3 / 3;

  max-height: 500px;
}

.ChartZone h1 {
  font-family: 'Montserrat', sans-serif;

  margin-top: 2em;
  margin-left: 2.5em;
}

.ChartZone h2 {
  font-family: 'Montserrat', sans-serif;

  margin-left: 3.2em;
  margin-bottom: 1em;
}

.LeftContainer {
  grid-area: 1 / 1 / 3 / 2;
}

.InfoContainer {
  grid-area: 1 / 3 / 3 / 4;
  position: relative;

  background-color: #dcdcc6;
}

.InfoZone {
  position: absolute;

  top: 17%;
  height: 65%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HttpError {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

@media (max-width: 1300px) {
  .ChartZone {
    max-height: 430px;
  }
}

@media (max-width: 1100px) {
  .MarketContainer {
    grid-template-columns: 5fr 1.5fr;
    grid-template-rows: 0.5fr 5fr;
    grid-template-areas:
      'navbar info'
      'chart info';
  }

  .LeftContainer {
    grid-area: 1 / 1 / 3 / 2;

    opacity: 0;
  }

  .ChartZone {
    grid-area: 2 / 1 / 3 / 2;

    max-height: 450px;
  }

  .ChartZone h1 {
    margin-top: 2em;
  }

  .ChartZone h2 {
    margin-bottom: 1em;
  }

  .InfoContainer {
    grid-area: 1 / 2 / 4 / 3;
  }

  .InfoZone {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media (max-width: 700px) {
  .MarketContainer {
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 7fr;
    grid-template-areas:
      'navbar'
      'info'
      'chart';
  }

  .ChartZone {
    grid-area: 3 / 1 / 4 / 2;

    max-height: 350px;
  }

  .ChartZone h1 {
    font-size: 1.8em;

    margin-top: 1.5em;
  }

  .ChartZone h2 {
    font-size: 1.2em;

    margin-left: 3.7em;
    margin-bottom: 0.5em;
  }

  .InfoContainer {
    grid-area: 2 / 1 / 3 / 2;
  }

  .InfoZone {
    grid-area: 2 / 1 / 3 / 2;

    top: 0%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .MarketContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.9fr 2fr 7fr;
  }

  .ChartZone {
    grid-area: 3 / 1 / 4 / 2;

    background-color: white;

    max-height: 300px;
  }

  .ChartZone h1 {
    font-size: 1.7em;
  }

  .ChartZone h2 {
    font-size: 1.3em;

    margin-left: 3.2em;
  }

  .InfoContainer {
    grid-area: 2 / 1 / 3 / 2;
  }

  .InfoZone {
    grid-area: 2 / 1 / 3 / 2;
  }
}
