@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.NavigationItems {
  margin: 0px 50px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}

.NavigationItem {
  margin: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  transition: background-color 0.4s ease-out;
}

.NavigationItem a:hover {
  color: #768385;
}

.NavigationItem a:active,
.NavigationItem a.active {
  color: black;
  background-color: white;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 10px;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: white;
    height: 70%;
    padding: 16px 10px;
    /* border-bottom: 4px solid transparent; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .NavigationItem a:hover {
    color: #768385;
  }

  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgb(253, 233, 233);
    color: rgb(0, 0, 0);
  }
}
